smbus
wheel
rpi_ws281x>=4.0.0
setuptools_scm
setuptools>=40.8.0
Adafruit-Blinka==7.1.2
adafruit-circuitpython-busdevice==5.1.8
adafruit-circuitpython-mpu6050==1.1.10
adafruit-circuitpython-register==1.9.8
adafruit-circuitpython-typing==1.3.1
Adafruit-PlatformDetect==3.22.0
Adafruit-PureIO==1.1.9
board==1.0
RPi.GPIO
micropython-cpython-utime==0.4
pathfinding==1.0.1
pycrypto==2.6.1
pyftdi==0.54.0
pyserial==3.5
pyusb==1.2.1
picamera